main {
	max-width: 800px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}
h1.brand-title {
	font-weight: 400;
	line-height: 87px;
	letter-spacing: 3px;
	color: var(--col-btn);
}
h1.brand-title span {
	font-weight: 800;
	font-size: inherit;
	line-height: 87px;
	letter-spacing: 3px;
}

h2 {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
}
.p-sm {
	font-size: 12px;
	line-height: 20px;
}
a {
	text-decoration: none;

	font-weight: 700;
	font-size: 16px;
	line-height: 20px;

	color: var(--col-text);
}

.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.flex-row-evenly {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.flex-col-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}
.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;	
}
.flex-col-evenly {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;	
}
.flex-col-start {
	justify-content: flex-start;	
}
.flex-align-center {
	align-items: center;
}
.flex-align-baseline {
	align-items: baseline;
}
.gap-sm {
	gap: 10px;
}
.gap-md {
	gap: 20px;
}
.gap-lg {
	gap: 30px;
}
.gap-xl {
	gap: 50px;
}

.btn-sm, .btn-lg, .btn-skip {
	max-height: 45px;

	padding: 13px;
	border: unset;
	border-radius: 10px;

	color: var(--col-primary);
	background-color: var(--col-btn);
}
.btn-sm {
	min-width: 160px;
}
.btn-lg {
	min-width: 290px;
}
.btn-skip {
	padding: 13px;
	border-bottom: 2px solid var(--col-text );
	border-radius: unset;
	
	font-weight: 400;
	color: var(--col-text);
	background-color: unset;
}