:root {
	--col-primary: #262134;
	--col-secondary: #D9FDED;
	--col-text: #F5F2FF;
	--col-btn: #BB86FC;
	--col-overlay: #4F4B5D;
	--col-graph-light: #C3C0CE;
	--col-error-delete: #F14668;

	--transition: .4s ease-in-out;

	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color: var(--col-text);
	background-color: var(--col-primary);
}

/* RESET ------------------------------------------------------------- */
*,
*::before,
*::after {
	box-sizing: border-box;
}
#root, html, body, div, main, nav, h1, h2, h3, p, a, button, form, input, select {
	margin: 0;
	padding: 0;
}
img, svg {
	display: block;
	max-width: 100%;
}
input, button, select {
	font: inherit;
}
h1, h2, h3, p {
	overflow-wrap: break-word;
}
p {
	hyphens: auto;
}

body {
	display: flex;
	justify-content: center;
}

#root {
	padding: 40px 30px;
}

@media (min-width: 481px) and (max-width: 767px) {
	#root {
		width: 70%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#root {
		width: 60%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	#root {
		width: 50%;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
	#root {
		width: 40%;
	}
}

@media (min-width: 1281px) {
	#root {
		width: 30%;
	}
}