:root {
	--col-primary: #262134;
	--col-secondary: #D9FDED;
	--col-text: #F5F2FF;
	--col-btn: #BB86FC;
	--col-overlay: #4F4B5D;
	--col-graph-light: #C3C0CE;
	--col-error-delete: #F14668;

	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color: var(--col-text);
	background-color: var(--col-primary);
}

/* RESET ------------------------------------------------------------- */
* {
	box-sizing: border-box;
}
#root, html, body, main, nav, h1, h2, h3, p, a, button, form, input, select {
	margin: 0;
	padding: 0;
}
#root, html, body {
	height: 100%;
}
img, svg {
	display: block;
	max-width: 100%;
}
input, button, select {
	font: inherit;
}
h1, h2, h3, p {
	overflow-wrap: break-word;
}
p {
	hyphens: auto;
}

#root {
	/* padding: 45px 30px 40px; */
	padding: 0 30px 40px;
}
