.stop {
	color: var(--col-error-delete);
	font-weight: 500;
}
.reminder-graphic {
	position: relative;
}
.demo {
	display: flex;
	justify-content: center;
	margin: -15px auto 25px;
	font-weight: 400;
	font-size: 0.8rem;
}
.demo input {
	min-width: 200px;
}