.dashboard {
	width: 100%;
}
.card {
	width: 100%;

	align-items: center;

	margin: 0 0 15px;
	padding: 16px;

	border-radius: 12px;
	background-color: var(--col-overlay);

	position: relative;
}
.card-header {
	padding-top: 5px;
}