.dashboard {
	width: 100%;
}
.card {
	width: 100%;

	align-items: center;

	margin: 0 0 15px;
	padding: 16px;

	border-radius: 12px;
	background-color: var(--col-overlay);
}
.card-header {
	padding-top: 5px;
}
.nav-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.nav-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}