.home {
	width: 100%;
	min-height: 100%;
}
.card {
	width: 100%;

	align-items: center;

	margin-top: 20px;
	margin-bottom: 20px;
	padding: 16px;

	border-radius: 12px;
	background-color: var(--col-overlay);
}