.setup {
	width: 100%;
	text-align: center;
	position: relative;
}
.setup h1 {
	margin: 76px auto 16px;
}

.setup form {
	width: 100%;
}

.setup input,
.setup select {
	width: 100%;
	max-width: 400px;

	padding: 12px;
	
	background: var(--col-primary);
	border: 1px solid var(--col-graph-light);
	border-radius: 5px;

	font-weight: 400;
	color: var(--col-graph-light);

	transition: var(--transition);
}
/* Custom select arrow */
.setup select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('../assets/arrow.png');
	background-repeat: no-repeat;
	background-position: right 13px center;
}
/* Custom placeholder color */
.setup input::placeholder {
	color: var(--col-graph-light)
}
/* Custom color for calendar icon */
.setup input {
	color-scheme: dark;
}
/* Custom color for valid input */
.setup select.valid:valid,
.setup input.valid:valid {
	border: 2px solid var(--col-btn);
}
/* Custom color on invalid input */
.setup select:invalid,
.setup input:invalid {
	color: var(--col-error-delete);
	border: 2px solid var(--col-error-delete);
}

.setup .input-wrapper {
	width: 100%;
	position: relative;
}
.setup .input-wrapper .p-input {
	position: absolute;
	top: -8px;
	left: 8px;

	margin: 0;
	padding: 0 4px;

	font-size: 0.7rem;
	line-height: normal;
	color: var(--col-graph-light);
	background-color: var(--col-primary);
}