.start {
	min-height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.start div:first-child {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin-top: 70%;
}
.start h1.brand-title {
	font-size: 36px;
}

.start div:last-child {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.start div:last-child h1 {
	font-size: 22px;
	color: var(--col-btn);
}
.start div:last-child p {
	font-size: 12px;
	font-style: italic;
	color: var(--col-graph-light);
}
.start div:last-child a {
	font-size: 14px;
	font-style: normal;
	color: var(--col-text);
}