.welcome {
	min-height: 100%;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 10px;
}

.welcome div:first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;

	margin-top: 50%;
}
.welcome div:first-child h1 {
	font-weight: 700;
	font-size: 32px;
	line-height: 50px;
}
.welcome div:first-child p {
	font-size: 20px;
	line-height: 25px;
}

.welcome h1.brand-title {
	font-size: 18px;
}

.welcome div:last-child {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.welcome div:last-child h1 {
	font-size: 22px;
	color: var(--col-btn);
}
.welcome div:last-child p {
	font-size: 12px;
	font-style: italic;
	color: var(--col-graph-light);
}
.welcome div:last-child a {
	font-size: 14px;
	font-style: normal;
	color: var(--col-text);
}