.sleep-tips {
	width: 100%;
}
.sleep-tips div {
	width: 100%;
	max-width: 400px;

	position: relative;

	display: flex;
    flex-direction: row;
	align-items: center;
    text-align: left;
}
.sleep-tips label {
	width: 100%;
	font-weight: 400;
	background-color: var(--col-overlay);
	color: var(--col-text);
	transition: var(--transition);
}
/* Hide default checkbox, will be replaced by svg */
.sleep-tips input[type=checkbox] {
	opacity: 0;
	height: 0;
  	width: 0;
	display: none;
}
.sleep-tips svg {
	display: none;
	opacity: 0;
}
/* show svg when checked */
.sleep-tips input[type=checkbox]:checked ~ svg {
	display: inline-block;
	opacity: 1;
	position: absolute;
	top: 12px;
	right: 14px;
}
/* change styling when checked */
.sleep-tips input[type=checkbox]:checked + label {
	font-weight: 500;
	background-color: var(--col-graph-light);
	color: var(--col-primary);
}