.setup {
	min-height: 100%;
	width: 100%;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	position: relative;
}
.setup h1 {
	margin: 36px auto 16px;
}
.setup .step-progress-bar {
	width: 100%;
	height: 20px;

	display: flex;
	justify-content: center;
	gap: 10px;

	position: absolute;
	top: 0;
	left: 0;
}
.setup .step-progress-bar div {
	width: 22%;

	align-self: flex-start;

	border-bottom: 4px solid var(--col-graph-light);
	border-radius: 3px;
}
.setup .step-progress-bar div.active {
	position: relative;

	align-self: flex-end;
	
	border-bottom: 4px solid var(--col-btn);
}
.setup .step-progress-bar div.active::before {
	position: absolute;
	top: -20px;
	left: 0;

	content: attr(data-step);
	text-align: left;
	font-weight: 400;
	font-size: 14px;
	color: var(--col-btn);
}

.setup .avatar {
	position: relative;
}
.setup .avatar svg {
	position: absolute;
	right: 5px;
}

.setup form {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.setup input,
.setup select {
	width: 100%;

	padding: 12px;
	margin: 12px 0;
	display: inline-block;
	align-items: center;
	
	background: var(--col-primary);
	border: 1px solid var(--col-graph-light);
	border-radius: 5px;

	font-weight: 400;
	color: var(--col-graph-light);

	position: relative;
}
/* Custom select arrow */
.setup select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('../../assets/arrow.png');
	background-repeat: no-repeat;
	background-position: right 13px center;
}
/* Custom placeholder color */
.setup input::placeholder {
	color: var(--col-graph-light)
}
/* Custom color for calendar icon */
.setup input {
	color-scheme: dark;
}
/* Custom color for valid input */
.setup select.valid:valid,
.setup input.valid:valid {
	border: 2px solid var(--col-btn);
}
/* Custom color on invalid input */
.setup select:invalid,
.setup input:invalid {
	color: var(--col-error-delete);
	border: 2px solid var(--col-error-delete);
}
/* Custom toggle switch */
.setup label.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* STEP 2 --------------------------------------------------------- */
.setup label.switch input[type=checkbox].toggle {
	opacity: 0;
	width: 0;
	height: 0;
}
.setup span.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--col-overlay);
	transition: .4s;
}
.setup span.slider::before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--col-text);
	transition: .4s;
}
.setup label.switch input.toggle:checked + .slider {
	background-color: var(--col-btn);
}
.setup label.switch input[type=checkbox].toggle:focus + .slider {
	box-shadow: 0 0 1px var(--col-btn);
}
.setup label.switch input[type=checkbox].toggle:checked + .slider::before {
	transform: translateX(26px);
}
.setup span.slider.round {
	border-radius: 34px;
}
.setup span.slider.round::before {
	border-radius: 50%;
}

.setup .btn-wrapper {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* STEP 3 --------------------------------------------------------- */
.setup form.sleep-tips {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 22px
}
.setup form.sleep-tips div {
	position: relative;

	display: flex;
    flex-direction: row;
	align-items: center;
    text-align: left;
}
.setup form.sleep-tips label {
	width: 100%;
	font-weight: 400;
	background-color: var(--col-overlay);
	color: var(--col-text);
}
/* Hide default checkbox, will be replaced by svg */
.setup form.sleep-tips input[type=checkbox] {
	opacity: 0;
	height: 0;
  	width: 0;
	display: none;
}
.setup form.sleep-tips svg {
	display: none;
	opacity: 0;
}
/* show svg when checked */
.setup form.sleep-tips input[type=checkbox]:checked ~ svg {
	display: inline-block;
	opacity: 1;
	position: absolute;
	top: 12px;
	right: 14px;
}
/* change styling when checked */
.setup form.sleep-tips input[type=checkbox]:checked + label {
	font-weight: 500;
	background-color: var(--col-graph-light);
	color: var(--col-primary);
}
/* step 4  */
div.daily-routine,
div.week-days {
	width: 100%;
	max-width: 300px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}